.cv{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;

}

.center{
    text-align: center;
}

table{
    width: 70%;
    height: 60%;

}

.heading{
    display: inline;
}
