*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

:root{
    --white: #FAFAFF;
    --black: #30343F;
    --grey: #9197B4;
    --light-blue: #273469;
    --dark-blue: #1E2749;
}

body{
    min-height: 100%;
    position: relative;
    background-color: var(--black);
}

.navbar{
    background-color: var(--dark-blue);
    height: 40px;
    padding: 5px;
}

.navbar > div{
    list-style: none;
    color: white;
    margin: 0 18%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.navbar > div > a{
    height: 100%;
    padding: auto;
    width: 20%;
    font-size:x-large;
    text-align: center;
    color: white;
    text-decoration: none;
}

.navbar > div > a:hover{background-color: var(--light-blue);}

.navbar > div > a:active{background-color: var(--dark-blue);}

section{
    color: var(--white);
    background-color: var(--grey);
    height: 70%;
    width: 60%;
    margin: auto;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
    padding: 5px;
    background-color: var(--dark-blue);
    color: var(--white);
}

footer > span{
    flex-grow: 1;
}

footer > p{
    width: 10%;
    text-align: center;
}
